.login-container {
    width: 20rem;
    max-width: 100%;
    padding: 2.5rem 2.5rem 1.7rem;
    margin-top: 2rem;
    border-radius: 4px;
    input {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid #6c757d;
        border-radius: 0;
        height: 2rem;
        font-size: 16px;
        padding: .5rem 0;
    }

    input:focus {
        background-color: transparent;
        outline: none;   
    }

    label {
        font-size: 13px;
        font-weight: 600;
    }

    .form-control {
        box-shadow: none;
    }
}

.login-body {
    margin: 0 !important;
}

.pattern-bg {
    min-height: 100vh;
    height: 100%;
    background-image: url('../images/patternpad.svg');
}

.login-bg {
    min-height: 100vh;
    height: 100%;
    margin: 0 !important;
}