@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");
@import "~bootstrap/scss/bootstrap";
@import "select2";

label {
    color: #212529 !important;
}

.swal2-popup .swal2-icon {
    margin: 1rem auto 0 !important;
}

.error {
    color: rgb(192, 0, 0);
    margin-top: 5px;
}

.kt-radio > span:after {
    border: solid #5867dd !important;
    background: #5867dd !important; 
    width: 10px !important;
    height: 10px !important;
    margin-top: -5px !important;
    margin-left: -5px !important;
}