@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");
@import "~bootstrap/scss/bootstrap";
@import "select2";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "../css/dark.css";
@import "../css/dark-brand.css";
@import "../css/light.css";
@import "../css/light-menu.css";

html, body {
	font-family: 'Poppins', sans-serif !important;
}

label {
	color: #212529 !important;
}

.aside-user {
	.avatar-img {
		height: 4rem;
		width:4rem;
		object-fit: cover;
		border-radius: 4px;
	}

	.username {
		font-size: 1.075rem !important;
	}

	.user-email {
		font-size: .85rem !important;
	}

	.online-status {
		font-size: .75rem !important;
		margin-left: -6px !important;
		color: #50cd89!important;
		span {
			margin-left: -3px !important;
		}
	}

}


.kt-aside--minimize .hidden-aside {
	visibility: hidden;
}

.kt-aside--minimize .kt-aside__brand-tools {
	padding-right: 5rem !important;
}

.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
	padding-top: 80px !important;
}

.dataTables_filter input {
	display: block;
	width: 100%;
	height: calc(1.5em + 1.3rem + 2px);
	padding: 0.65rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #e2e5ec;
	border-radius: 4px;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.kt-datatable__head th {
	background-color: #f8f9fa !important;
	font-weight: 700 !important;
}

.swal2-popup .swal2-icon {
	margin: 1rem auto 0 !important;
}

.error {
	color: rgb(192, 0, 0) !important;
	margin-top: 5px;
}

.kt-radio>span:after {
	border: solid #5867dd !important;
	background: #5867dd !important;
	width: 10px !important;
	height: 10px !important;
	margin-top: -5px !important;
	margin-left: -5px !important;
}

input:read-only, textarea:read-only {
	background-color: #f8f9fa !important;
	border: none !important;
}

.fw-bold {
	font-weight: 500 !important;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.fw-800 {
	font-weight: 700 !important;
}

.details-container {
	label {
		font-size: 1.1rem!important;
	}
	span {
		margin-top: 8px !important;
	}
	small {
		font-size: .9rem!important;
	}

	.badge {
		font-size: 1rem!important;
	}
}

.details-special-requests {
	span {
		margin-top: 0px !important;
	}
}