.jumbotron {
    padding-top: 124px;
    padding-bottom: 90px;

    &-pattern {
        background-image: url('../images/patternpad.svg');
    } 


    .content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @extend .container;
        @extend .flex-md-row;
        @extend .align-items-md-center;
    }
}