.question {
	&-card {
		background-color: #eee;
		cursor: pointer;
		padding: 1rem;
		margin-bottom: 1rem;
		border-radius: 4px;

		&.visited {
			background-color: #ddd;
			color: white;
		}

		&.active {
			background-color: #0D6EFD;
			color: white;
		}

		&.error {
			background-color: #DC2626;
			color: white;
		}
	}
}
